In [1]:
print("Hello world")

Hello world

In [2]:
string = "Hello World"
print(string[7])

o

In [3]:
string = "Welcome to phitron ML course"
print(len(string))
print("phitron" in string)

28
True

In [4]:
string = "Welcome to Phitron ML course"
processed_string = string.lower()
print(processed_string)
print(len(string))
print("phitron" in processed_string)

welcome to phitron ml course
28
True

In [8]:
string = "Welcome to phitron ML course, phitron"
print(len(string))
print("phitron" in string)
index = string.find("phitron")
index1 = string.rfind("phitron")
print(index)
print(index1)

37
True
11
30

In [10]:
string = "Welcome to phitron ML course, phitron"
print(len(string))
print("phitron" in string)
index = string.find("phitron")
index1 = string.rfind("phitron")
count = string.count("phitron")
print(count)
print(index)
print(index1)

37
True
2
11
30

In [11]:
string = "Welcome to phitron ML course, phitron"
string1 = string.replace("ML","AI/ML")
print(string1)

Welcome to phitron AI/ML course, phitron

In [1]:
prompt = "What is your name ?"
token = prompt.split()
print(token)

['What', 'is', 'your', 'name', '?']

In [2]:
prompt = "What is your name ?"
token = prompt.split()
token = "-".join(token)
print(token)

What-is-your-name-?

In [4]:
name = "Shoeb"
age=22
height = 5.5
print(f"My name is {name}. My age is {age}. My height is {height+10}")

My name is Shoeb. My age is 22. My height is 15.5

In [12]:
numbers = [100, 20, 30, 70, 80]
print(numbers[2])
numbers[2] = 90
numbers.append(80)
print(numbers[0:3])
print(numbers)
numbers.insert(0,75)
print(numbers)
numbers.pop()
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

30
[100, 20, 90]
[100, 20, 90, 70, 80, 80]
[75, 100, 20, 90, 70, 80, 80]
[20, 70, 75, 80, 90, 100]
[100, 90, 80, 75, 70, 20]

In [14]:
even = [x for x in range(1,101) if x%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [15]:
word = "Pythonista"
print (word[-4])

i

In [16]:
text= "banana bandana"
print(text.count("ana"))

2

In [19]:
message = "red,green,blue"
colors = message.split(",")
print("-".join(colors[::-1]))

blue-green-red

In [20]:
l = ["a","b","c","d"]
print(l[1:4][::-2])

['d', 'b']

In [22]:
stack = []
for i in range(1,4):
    stack.append(i)
stack.pop()
print(stack[-1])

2

In [24]:
question = [10,20,30,40]
question.pop(1)
question.append(50)
question.pop(0)
print(question[0])

30

In [30]:
n =input()
p = n.split()
brightness = int(p[0])
thresold = int(p[1])
if brightness >= thresold:
    print("ON")
else:
    print("OFF\n")

 3 6

OFF

In [33]:
n = input()
p = n.split()
x = float(p[0])
min_v= float(p[1])
max_v= float(p[2])
norm = (x - min_v) / (max_v - min_v)
print(norm)

 2.5 0 10

0.25

tup = (10, 20, 60, 90, 89,300)
print(tup.index(89))
print(tup.count(10))

In [3]:
s = {1,2,3,4,5,6,3,4,3,4,1}
if 3 in s:
    print("3 present")
else:
    print("not present")
sum=0
for f in s:
    sum+=f
print(sum)

3 present
21

SET

In [5]:
r = {28, 4, 3, 0, 8}
r.add(25)
print(r)
r.remove(28)
print(r)
r.pop()
r.pop()
print(r)

{0, 3, 4, 8, 25, 28}
{0, 3, 4, 8, 25}
{4, 8, 25}

In [8]:
d = {12, 45, 54, 22, 90, 84}
b = {4, 45, 3 , 5, 49, 4}

print(d.union(b))
print(d.intersection(b))
print(d.isdisjoint(b))
print(d.issubset(b))

{3, 4, 5, 12, 45, 49, 84, 22, 54, 90}
{45}
False
False

In [22]:
dic = {"name": "Shoeb", "age": "20", "Course": "AI/ML"}
print(dic)
print(dic["name"])
print(dic.get("age"))
dic["age"] = 22
print(dic)
dic["adress"] ="Kushtia"
print(dic)
dic.update({"fingerprint":"yes"})
print(dic)
del dic["age"]
print(dic)
keys = dic.keys()
print(keys)
values = dic.values()
print(values)
items = dic.items()
print(items)
for key, value in dic.items():
    print(key,value)

{'name': 'Shoeb', 'age': '20', 'Course': 'AI/ML'}
Shoeb
20
{'name': 'Shoeb', 'age': 22, 'Course': 'AI/ML'}
{'name': 'Shoeb', 'age': 22, 'Course': 'AI/ML', 'adress': 'Kushtia'}
{'name': 'Shoeb', 'age': 22, 'Course': 'AI/ML', 'adress': 'Kushtia', 'fingerprint': 'yes'}
{'name': 'Shoeb', 'Course': 'AI/ML', 'adress': 'Kushtia', 'fingerprint': 'yes'}
dict_keys(['name', 'Course', 'adress', 'fingerprint'])
dict_values(['Shoeb', 'AI/ML', 'Kushtia', 'yes'])
dict_items([('name', 'Shoeb'), ('Course', 'AI/ML'), ('adress', 'Kushtia'), ('fingerprint', 'yes')])
name Shoeb
Course AI/ML
adress Kushtia
fingerprint yes

In [23]:
squre = {x:x**2 for x in range(1,11) if x%2==0}
print(squre)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [26]:
co = [(10.7, 9),(10, 70 ,8),(8.7)]
ordi = ["ak","Dilli","Dhaka"]
dicyionaty ={co:ordi for co,ordi in zip(co,ordi)}
print(dicyionaty)

{(10.7, 9): 'ak', (10, 70, 8): 'Dilli', 8.7: 'Dhaka'}

In [29]:
lst = [10, 928, 82, 74, 38, 10, 928, 748, 38, 10]
lst1 = set(lst)
print(lst1)
lst2 = list(lst1)
print(lst2)

{928, 38, 10, 74, 748, 82}
[928, 38, 10, 74, 748, 82]

In [30]:
{'a': 1, 'b': 2}.keys()

dict_keys(['a', 'b'])

In [2]:
def greet(user):
    print(f"Hello {user}")
greet("Shoeb")

Hello Shoeb

In [3]:
def greet(user = "Beasty"):
    print(f"Hello {user}")
greet("Shoeb")
greet()

Hello Shoeb
Hello Beasty

In [5]:
def squre_addition(a,b):
    a=a**2
    b=b**2
    print(a+b)
squre_addition(10,20)

500

In [6]:
# positional argument

def squre_addition(a,b):
    a=a**2
    b=b**2
    return a+b
squre_addition(10,20) + 10

510

In [7]:
#keyword argument
squre_addition(b=10,a=20) + 10

510

In [8]:
#Variable sized argument
def squre_addition(*args):
    sumation = 0
    for i in args:
        i**2
        sumation+=i
    return sumation
    
squre_addition(10,45,3,4,4,89)

155

In [15]:
#Keyword Variable sized argument
def square_addition(**kwargs):
    print(kwargs)
    for key, val in kwargs.items():
        print(f"{key} : {val}")
square_addition(Name = "Shoeb",Age= "20",Status="Single")

{'Name': 'Shoeb', 'Age': '20', 'Status': 'Single'}
Name : Shoeb
Age : 20
Status : Single

In [18]:
def give_domes():
    return 10,29
give_domes() 

#unpacking

x,y = give_domes()
print(x,y)

10 29

In [1]:
s = {3,4,12,45,3,2,34}
s_iter = iter(s)
print(s_iter)

<set_iterator object at 0x1047e92c0>

In [8]:
# Iterator
s = {3,4,12,45,3,2,34}
s_iter = iter(s)
print(next(s_iter))
print(next(s_iter))

for i in s:
    print(i)

2
3
2
3
4
34
12
45

In [9]:
# Lambda Function
sqr_addition = lambda x,y: x**2 + y**2
print(sqr_addition(2,3))

even = lambda x: x%2==0
print(even(10))

13
True

In [10]:
# Map Function

lst = [847, 73,3, 43, 3,24,50]
def square(x):
    return x**2
lst = list(map(square, lst))
print(lst)

[717409, 5329, 9, 1849, 9, 576, 2500]

In [13]:
string = "Hello beasty, this is shoeb"
string1 = list(map(str.upper, string))
print(string1)

string1 = " ".join(string1)
print(string1)

['H', 'E', 'L', 'L', 'O', ' ', 'B', 'E', 'A', 'S', 'T', 'Y', ',', ' ', 'T', 'H', 'I', 'S', ' ', 'I', 'S', ' ', 'S', 'H', 'O', 'E', 'B']
H E L L O   B E A S T Y ,   T H I S   I S   S H O E B

In [15]:
# Map with Lambda
lst = [847, 73,3, 43, 3,24,50]
lst = list(map(lambda x: x**2 if x%2==0 else x, lst))
print(lst)

[847, 73, 3, 43, 3, 576, 2500]

In [20]:
# Filter
numbers = [i for i in range(100)]
even = list(filter(lambda x: x%2==0, numbers))
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [24]:
dta = [0,1, None, "didi", [7,9], None]
data = list(filter(None,dta))
print(data)

[1, 'didi', [7, 9]]

In [26]:
# String with lambda and filter
vowel = list(filter(lambda x:x in "AEIOU",string1))
print(vowel)

['E', 'O', 'E', 'A', 'I', 'I', 'O', 'E']

In [28]:
alpha = ("aaaa", "cc", "vvvvvvv", "YUH")
filtering = list(filter(lambda x: len(x)>3, alpha))
print(filtering)

['aaaa', 'vvvvvvv']

In [30]:
# Reduce & Lambda Function
from functools import reduce
lst = [847, 73,3, 43, 3,24,50]
sumation = reduce(lambda x,y: x+y, lst)
print(sumation)

1043

In [31]:
from functools import reduce
lst = [847, 73,3, 43, 3,24,50]
max_val = reduce(lambda x,y:x if x>y else y,lst )
print(max_val)

847

In [1]:
import numpy as np
arr1 = np.array([1,2,3])
print(arr1.dtype)

int64

In [4]:
import numpy as np
arr1 = np.array([1,3,5]) #1D array

arr2 = np.array([[2,6,5],[3,8,1]]) #2D array

arr3 = np.array([[[2,4,6]],[[9,7,4]]]) #3D array

In [5]:
#Size
print(arr1.size)
print(arr2.size)
print(arr3.size)

#Diamention
print(arr1.ndim)
print(arr2.ndim)
print(arr3.ndim)

#Shape
print(arr1.shape)
print(arr2.shape)
print(arr3.shape)

3
6
6
1
2
3
(3,)
(2, 3)
(2, 1, 3)